/* Google font family import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: 'Poppins', sans-serif;
}

/* header styles */
header {
    background-color: #000000;
    padding: 10px;
    text-align: center;
}

.logo img {
    max-width: 100%;
}

/* Main styles */
.hero-section {
    color: white;
    text-align: left;
    padding: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flext-start;
    height: 100vh;
    background-image: url('/assets/images/tic-tak-toe-red-bg.jpg');
}

.two-column-text {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.two-column-text .column {
    flex: 1;
}

#left-column {
    flex-basis: 40%;
    color: black;
}

#right-column {
    flex-basis: 50%;
    color: black;
}

.play-button {
    margin-top: 30px;
}

.play-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0400;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color: #ff0400;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 80px;
}

/* Media query: /*
/* (phones, 576px and up) */
@media (max-width: 576px) {
    .two-column-text {
        /* Display columns on top of each other */
        flex-direction: column;
    }

    .hero-section {
        /* Height set to auto for smaller screens */
        height: auto;
    }

    footer {
        /* keep the footer static on smaller devices */
        position: static;
        font-size: 1.4rem;
    }

    .social-media {
        margin-top: 10px;
    }

    .social-media a {
        margin: 0 30px;
    }
}

/* Larger devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .hero-section {
        padding: 30px;
        height: 77vh;
    }

    #left-column, #right-column {
        flex-basis: 50%;
    }

    .play-button a {
        padding: 20px 40px;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    p, ul, li {
        font-size: 1.2em;
    }

    footer {
        font-size: 2rem;
    }
}

/* Large devices (laptops, 992px and up) */
@media (min-width: 992px) {
    .hero-section {
        padding: 40px;
        height: 80vh;
    }

    .text-block {
        max-width: 60%;
    }

    .play-button a {
        padding: 25px 50px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    p, ul, li {
        font-size: 1.4em;
    }

}

/* Large devices (desktop, 1200px and up) */
@media (min-width: 1200px) {
    .hero-section {
        padding: 50px;
        height: 81vh;
    }

    .text-block {
        max-width: 50%;
    }

    .play-button a {
        padding: 30px 60px;
    }

    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 3em;
    }

    p, ul, li {
        font-size: 1.6em;
    }
}

